#tableDiv{
    border: 5px;
    padding: 10px;
    font-size: 20px;
    display: inline-block;
}
.refrao{
    color: red;
}
#video{
    vertical-align: top;
    /* float: left; */
    display: inline-block;
}
#ifVideo{
    margin: auto;
    display: block;
}

#desc{
    vertical-align: top;
    display: inline-block;
    font-size: 20px;
}
#h1Title{
    font-size: 60px; 
    /* text-align: center;  */
    margin: 5px;
    text-align: center;
    display: inline-flex;
    
}