body{
    background-image: url();
}

nav{
    text-align: center;
    font-size: 30px;
    
}
a {    
    margin: 10px 10px 10px 10px;
    background-color: aqua;
    padding: 10px 5px 10px 5px;
    border: 1px solid aqua;
    text-decoration: none;
}
#Slaporrakk{
    
    
    margin: 50px ;
    border: 1px solid black;
    text-align: center;
}
.hv1:hover{
    background-color: red;
    transition: padding 0.2s linear;
}

#divBtn{
    margin: 20px 0px 0px 0px;
}


