#tableDiv{
    border: 5px;
    padding: 10px;
    font-size: 20px;
    display: inline-block;
}
#video{
    vertical-align: top;
    /* float: left; */
    display: inline-block;
}
#ifVideo{
    margin: auto;
    display: block;
}

#desc{
    vertical-align: top;
    display: inline-block;
    font-size: 30px;
}
#pDesc{
    font-size: 50px;
    margin: 0%;
    margin-bottom: 50px;
}
#h1Title{
    font-size: 60px; 
    margin: 5px;
    text-align: center;
    display: inline-flex;
    /* não quis alinhar, não sei pq */
}

/* classes são utilizadas para mais de um elementos com as mesmas propriedades */

.imgSing{
    width: 350px;
    height: auto;
    padding-bottom: 50px;
}

.refrao{
    color: red;
}
